.card{
    max-width: 50%;
    background-color: white;
    margin: 0 auto;
    border-radius: 30px;
    -webkit-box-shadow: 10px 15px 32px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 15px 32px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 15px 20px 0px rgba(39, 39, 39, 0.75);
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top:3%;
    padding-bottom:3%;
}